html {
    background-color: rgb(68, 68, 68);
    color:white;
}

body {
    width:1000px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30pt;
    border: 5px solid black;
    background-color:black;
    padding: 50px 50px;
    margin:auto auto;
}

h1 {
    color:white;
    text-align: center;
    font-size:30pt;
}

.cauHoi {
    background-color: rgba(61, 61, 61, 0.503);
    border: 0.5ex;
    border-color: black;
    height: 600px;
    width: 1000px;
    margin-bottom: 50px;
}

.content {
    font-family: 'Times New Roman', Times, serif;
    font-size:35pt;
    font-weight:normal;
    text-align: center;
    height: 250px;
    color: white;
}

.equation {
    font-size:30pt;
    height: 250px;
    text-align: center;
    color: white;
}

.choices {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; /* canh giữa các choice */
    gap: 20px;
}

.choice {
    font-size:30pt;
    text-align: center;
    justify-content: center;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    width: 950px;
    height:auto;
    min-height: 200px;
    border-color: black;
    border-width:0.2ex;
    color: white;
    background-color: rgba(61, 61, 61, 0.503);
    float:none ;
    margin: 0 auto;
}

.correct{ /* đáp an đúng */
    border-color:lawngreen;
    border-width:0.5ex;
    background-color: rgb(241, 241, 79);
    color:blue;
}

.wrong {
    border-color: red;
    border-width:0.5ex;
    background-color: whitesmoke;
    color:brown;
}

.userchoice { /* đáp án người dùng chọn*/
    background-color:gray;
}

#result {
    color:white;
    font-weight: bold;
    text-align: center;
    width: 400px;
    height: 150px;
    font-size: 30pt;
    background-color:rgb(242, 146, 21);
    border-width:0.5ex;
}

#restart {
    color:white;
    font-weight: bold;
    text-align: center;
    width: 400px;
    height: 150px;
    font-size: 30pt;
    background-color:rgb(17, 98, 238);
    border-width:0.5ex;
}

button, #button{
    text-align: center;
    border-radius: 20px;
}

a {
    color: yellow;
    font-style:oblique;
  }

